/* 以下为公用CSS */

.footer {
	background-color: #2d3237;
	color: white;

}
.notice{
	color:#18BC9C;
}

.commend {
	position:absolute;
	color:#18BC9C;
}
.orderby{
	position:absolute;
	background:#18BC9C;
}
.footer .wechatqr {
	background-color: #2d3237;
	border: 0;
}

.footer-bottom {
	background-color: ;
	color: white;
}
.navbar-default{
	background-color: #2c3e50;
}
.navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus{
  	color: #ffffff;
    background-color: #1a242f;
  }
.navbar-default .navbar-nav>li>a{
	color:#fff;	
}

.navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:hover,
 .navbar-default .navbar-nav>.open>a:focus {
    background-color: #1a242f;
    color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover{
	color:#eee;
}
/* 以下是index.html的CSS */

.product-item:hover {
	-webkit-box-shadow: 0 0 10px #0CC;
	-moz-box-shadow: 0 0 10px #0CC;
	box-shadow: 0 0 10px #0CC;
}
.btn-default {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
.btn-default:hover{
	background-color: #798D8F;
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#18BC9C;
}
/* 以下是分页页码的CSS */

.pagination {
	display: block;
	text-align: center;
}

#PAGENO {
	border: solid 1px #18BC9C;
}

.pagination #skip{
	border: solid 1px #18BC9C;
	border-radius: 20px;
	background-color: #18BC9C;
	color: white;
	padding:5px 15px;
}



/* 以下是error.jsp页面的CSS */

.err-nav {
	margin-bottom: 0px;
}

.err-jum {
	margin-bottom: 0px;
	background-image: url(../img/errbgpic.png);
}





fieldset .product-attr {
    /* border: solid 1px black; */
    padding: 0px;
}
.product-detail {
    margin: 0px;
}
.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.btn-primary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #181515;
    border-color: #2c3e50;
}
